/* see http://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub { top: 0.4em; }

/* Table of contents */
#nav {
	font-size: 1.17em;
	font-weight: bold;
}

/* Up link in every header */
a[href="#up"]:after {
	content: " \2191";
}
a[href="#up"] {
	color: inherit;
	text-decoration: inherit;
}

/* Better reading */
body {
	text-align: justify;
	line-height: 150%;
}
h1, h2, h3 {
	text-align: left;
}

/* nice tables */
table {
	border-collapse: collapse;
}
table td, table th {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
}
table th {
	border-bottom: 2px solid lightblue;
	color:darkblue;
	margin:0;
}
table td {
	border-bottom: 1px solid lightblue;
}